.view.Games {
  nav {
    margin-bottom: 20px;

    a {
      display: block;
      margin-bottom: 8px;
      text-decoration: underline;
    }
  }

  .game-title {
    margin-bottom: 8px;
    font-weight: bold;
  }
}