.component.Thing {
  margin: 50px auto 0;
  padding: 24px;
  width: 512px;
  max-width: 90vw;
  height: 256px;
  background: linear-gradient(to right bottom, white, goldenrod);
  color: black;
  text-align: left;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 1.5px 8px rgba(255, 255, 255, 0.5), 0 0 16px rgba(255, 255, 255, 0.25);
}
