.component.Thing {
  margin: 32px auto 0;
  padding: 8px;
  width: 512px;
  max-width: 90vw;
  height: 256px;
  background: linear-gradient(to right bottom, white, goldenrod);
  color: black;
  text-align: left;
}