.App {
  height: 100vh;
  background: url('../assets/images/background.jpg') no-repeat center / cover;
  color: white;

  .App-header {
    padding: 18px 8px 12px;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.99),
      rgba(0, 0, 0, 0.75)
    );
    color: goldenrod;
    border-bottom: 1px solid;

    img {
      display: inline-block;
      margin-right: 24px;
      margin-left: 10px;
      height: 64px;
      border: 1px solid goldenrod;
      border-radius: 2px;
    }

    &-text {
      top: -18px;
      font-size: calc(16px + 2vmin);
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.66),
        0 1px 8px rgba(255, 255, 255, 0.33);
    }
  }

  nav {
    display: flex;
    justify-content: center;
    text-align: center;

    a {
      padding: 8px;
      color: white;
      font-size: 24px;
    }

    .active {
      color: lime;
    }
  }

  .view {
    padding: 8px 16px;
    text-align: center;
  }
}

nav {
  display: inline-block;
  padding-top: 24px;
  font-size: 20px;
}
