.Header {
  padding: 16px;
  @apply bg-white;
  text-align: center;

  &-text {
    @apply text-xl;
    font-weight: bold;
  }

  .sign-in-out-container {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-block;
    
    button {
      background-color: transparent;
      color: black;
      font-weight: bold;
      border: none;
    }
  }
}
