@keyframes move {
  50% {
    transform: rotate(1080deg) scale(5) translateY(100px);
    opacity: 1;
  }
}

.view.About {
  img {
    width: 64px;
    border-radius: 16px;
    box-shadow: 0 0 8px white;
    opacity: 0;

    animation: move 20000ms ease infinite;
  }
}
