.About {
  @keyframes move {
    to {
      transform: rotate(1080deg) scale(1) translateX(-50%);
      opacity: 1;
    }
  }

  img {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: rotate(0) scale(0.1) translateX(-50%);
    transform-origin: 0;
    width: 200px;
    border-radius: 16px;
    box-shadow: 0 1px 0 white, 0 0 16px rgba(255, 255, 255, 0.75);

    opacity: 0.1;
    animation: move 3333ms linear forwards;
  }
}
