.view.SignIn {
  .current-user-email {
    color: limegreen;
    padding-bottom: 8px;
  }

  form {
    margin: auto;
    padding: 8px;
    width: 90vw;
    max-width: 420px;
    text-align: left;
    border: 1px solid;

    label {
      display: block;

      &:last-of-type {
        margin-bottom: 8px;
      }
    }

    button.form-action {
      display: block;
      margin-left: auto;
    }
  }

  button.switch {
    padding-top: 16px;
    background-color: transparent;
    color: black;
    font-weight: normal;
    border: none;
  }
}
