@keyframes wave {
  50% {
    transform: rotate(70deg);
  }
}

.view.Home {
  .msg {
    font-size: 32px;

    .hand {
      display: inline-block;
      animation: wave 1666ms linear infinite;
    }
  }
}
