.view.Login {
  form {
    margin: auto;
    padding: 8px;
    width: 90vw;
    max-width: 420px;
    border: 1px solid;

    text-align: left;

    label {
      display: block;

      &:last-of-type {
        margin-bottom: 8px;
      }

      input {
        margin: 4px 0;
        width: 100%;
      }
    }

    button.form-action {
      display: block;
      margin-left: auto;
      padding: 2px 4px 3px;
      font-weight: bold;
    }
  }

  button.switch {
    padding-top: 8px;
    background-color: transparent;
    border: none;
  }
}
